.quienesContenedor {
  position: relative;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  .imagenQuienes {
    height: 750px;
    overflow: hidden;
    img {
      width: 90%;
    }
  }

  .textoQuienes {
    max-width: 40%;
    right: 0;
    top: 20%;
    position: absolute;
    padding: 40px;
    background-color: #4779fb;
    h1 {
      font-size: 15px;
      color: white;
      margin-bottom: 30px;
      font-family: "Playfair Display", serif;
      font-weight: 300;
    }
    a {
      color: var(--AquaGreen);
      margin: 10px 0;
      font-family: "Playfair Display", serif;
      text-decoration: none;
      display: block;
    }
  }
}
