
@font-face {
  font-family: PlayFair;
  src: url("../../assets/font/PlayfairDisplay-Regular.ttf");
}

.playfair{
  font-family: PlayFair;
}

body a{
  text-decoration: none;
  color: black;
}


.principal {
  background-image: url("../../assets/images/mujer2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0px 144px;;
  display: grid;
  grid-template-columns: 2fr 1fr;

  
  input[type=range]{
    min-width: -webkit-fill-available;
  }

  .montosVerde{
    color: #70E4BF;
    font-size: 18px;

  }
  .textoPrincipal {
    text-align: center;
    padding: 30px;

    h1 {
      font-size: 30px;
    }
    p {
      font-size: 15px;
    }
  }

  .selectorPrestamo {
    color: white;
    min-width: 300px;
    background-color: var(--AquaBlue);
    padding: 20px;

    h2 {
      font-weight: normal;
      margin: 20px 0 40px;
      font-size: 30px;
    }
    .datosPrestamo1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 30px;

      div {
        label {
          text-align: left;
          display: block;
        }
        input {
          background-color: transparent;
          border: none;
          color: var(--AquaGreen);
        }
      }
    }
    .datosPrestamo {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 30px;

      div {
        label {
          text-align: left;
          display: block;
        }
        input {
          background-color: transparent;
          border: none;
          color: var(--AquaGreen);
          font-weight: bolder;
        }
      }
    }
    button {
      float: right;
      margin: 20px 10px 20px 0;
      background-color: var(--AquaGreen);
      border: none;
      padding: 8px 20px;
      border-radius: 10px;
    }
  }
}
.caracteristicas {
  .contenedorCaracteristicas {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 0;
    grid-gap: 40px;
    margin: 50px auto;
    .caracteristicaUnica {
      text-align: center;
      padding: 10px;
      img {
        margin-bottom: 20px;
        max-height: 40px;
      }
      p {
        font-family: "Playfair Display", serif;
      }
    }
  }
}
.tipos {
  background-color: var(--AquaBlue);
  .contenedorTipos {
    padding: 50px 194px 50px;
    text-align: center;

    h1 {
      font-size: 40px;
      border-bottom: 3px solid transparent;

      span {
        color: white;
        border-bottom: 3px solid var(--AquaGreen);
      }
    }
    .tiposPrestamos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
      margin-top: 50px;
      .tipoPrestamo {
        background-color: white;
        padding: 58px 42px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.5);
        font-family: "Playfair Display", serif;
        img {
          margin-bottom: 20px;
        }
        h5 {
          margin-bottom: 20px;
          font-size: 15px;
        }
        p {
          line-height: 20px;
          font-size: 15px;
        }
      }
    }
  }
}
.funcionamiento {
  //padding: 50px 50px;
  background-image: url("../../assets/images/manos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h1 {
    color: var(--AquaGreen);
    font-size: 60px;
    img {
      width: 50%;
    }
  }
}
.contactanos {
  background-color: var(--AquaBlue);
  .contenedorContactanos {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 50px;
    h1 {
      font-size: 60px;
      color: white;
      font-weight: 400;
    }
    h2 {
      font-size: 30px;
      color: var(--AquaGreen);
      font-weight: 400;
      margin-bottom: 60px;
    }
    p {
      color: var(--AquaGreen);
    }
    .selectoresPrestamos {
      display: grid;
      width: 50%;
      margin: 20px 0;
      grid-template-columns: 1fr 1fr;
      label {
        margin-left: 20px;
        font-size: 15px;
        font-family: "Playfair Display";
      }
    }
    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: auto;
      grid-gap: 20px;
      .contenedorDatos {
        input {
          width: 100%;
          margin: 20px 0;
          border: none;
          border-radius: 20px;
          padding: 15px 10px;
          font-family: "Playfair Display", serif;
          font-size: 15px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        }
      }
      textarea {
        border-radius: 20px;
        font-size: 15px;
        padding: 20px;
      }
      .contenedorEnviar {
        grid-column: 2/3;
        text-align: right;
        input[type="submit"] {
          font-weight: bold;
          color: white;
          padding: 10px 20px;
          margin-right: 0;
          max-width: 150px;
          border: none;
          border-radius: 20px;
          background-color: var(--AquaGreen);
        }
      }
    }
  }
}
