@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.App {
  width: 100%;
  margin: auto;
}
:root {
  --AquaGreen: #70e4bf;
  --AquaBlue: #4779fb;
}
.prestamoUnico {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 90px;
  margin-bottom: 50px;
  .imagenPrestamo {
    img {
      width: 80%;
    }
  }
  .textoPrestamo {
    padding: 50px 100px;
    h1 {
      color: var(--AquaGreen);
      margin: 10px 0 60px 0;
    }
    p {
      font-size: 15px;
      margin-bottom: 30px;
    }
    ul {
      margin-left: 20px;
    }
    h3 {
      margin: 20px 0;
    }
  }
  .contenedorBoton {
    grid-column: 2/3;
    padding: 10px 100px;
    button {
      border: none;
      background-color: var(--AquaGreen);
      padding: 10px 30px;
      font-size: 20px;
      border-radius: 20px;
    }
  }
}
